<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.sajjadyosefi.accountauthenticator" >



<!--    android:theme="@style/TubelessDayTheme"-->
<!--    android:icon="@drawable/png_icon"-->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />



    <uses-permission android:name="android.permission.SEND_SMS" />
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->



    <application
        android:theme="@style/Theme.Tubeless"
        android:icon="@drawable/png_icon1"


        android:label="@string/app_name">

            <!-- *** Not really needed here, but convenient for copying to other apps that will use this module *** -->
        <activity android:name=".activity.accounts.AuthenticatorActivity" android:label="@string/login_label"/>
        <activity android:name=".activity.accounts.ChangePasswordActivity" android:label="@string/changePassword"/>
        <activity android:name=".activity.accounts.ResetPasswordActivity" android:label="@string/forgetPassword"/>
        <activity android:name=".activity.accounts.SignInActivity" android:label="@string/login_label"/>
        <activity android:name=".activity.accounts.SignUpActivity" android:label="@string/signup_title" />

        <!--          todo fix = zarinpalpayment-->
        <activity android:name=".activity.payments.PaymentActivity" android:label="@string/chargeWallet">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/zarinpalpayment"
                    android:scheme="@string/schemezarinpalpayment" />
            </intent-filter>
        </activity>
        <activity android:name="ir.moslem_deris.apps.zarinpal.PaymentActivity"  />


        <service
            android:name=".authentication.AuthenticatorService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticatorxxx" />
        </service>


        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
</manifest>
